[Unit]
After=network.target
Description=Noria Server

[Service]
ExecStart=/bin/noria-server -a 0.0.0.0 --use-aws-external-address
StateDirectory=noria
WorkingDirectory=/var/lib/noria
EnvironmentFile=/etc/default/noria
Restart=on-failure

[Install]
WantedBy=multi-user.target
