        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2" id="title">Domain <span id="domain-id"></span></h1>

            <!-- Error message -->
            <div id="error-msg" class="alert alert-danger alert-dismissible fade" role="alert">
              <strong>Error</strong> Message.
            </div>
          </div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <table class="table table-hover">
              <tr>
                <td>Number of vertices:</td>
                <td id="nodes">Loading...</td>
              </tr>
              <tr>
                <td>Forward processing time:</td>
                <td id="dom-stats-forward">Loading...</td>
              </tr>
              <tr>
                <td>Upquery processing time:</td>
                <td id="dom-stats-replay">Loading...</td>
              </tr>
              <tr>
                <td>Wait time:</td>
                <td id="dom-stats-wait">Loading...</td>
              </tr>
            </table>
          </div>

        </main>
