        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Cluster overview</h1>

            <!-- Error message -->
            <div id="error-msg" class="alert alert-danger alert-dismissible fade" role="alert">
              <strong>Error</strong> Message.
            </div>
          </div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <table id="instance-table">
              <thead>
                <tr>
                  <th data-field="0" data-sortable="true" data-formatter="instanceFormatter">Instance address</th>
                  <th data-field="1" data-sortable="true" data-formatter="booleanFormatter">Healthy</th>
                  <th data-field="2" data-sortable="true" data-formatter="durationFormatter">Time since heartbeat [sec]</th>
                </tr>
              </thead>
            </table>
          </div>
        </main>
