target/
target-ubuntu2004/
docs/book/
.idea/
.DS_Store
.terraform
.terraform.lock.hcl
.terraform-version
provider.tf
*.tfvars
*.tfstate
*.tfstate.backup
*.vi
*.emacs
tags
docker-compose.override.yml
*.db
*.auth
.readyset-history
*.log
