version: "3.8"
services:
  mysql:
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=readyset
      - MYSQL_DATABASE=testbdb
    ports:
      - '3306:3306'
  postgres:
    image: postgres:14
    environment:
      - POSTGRES_PASSWORD=readyset
      - POSTGRES_DB=testdb
    ports:
      - '5432:5432'
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
