        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <!--<li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>-->
              <li class="nav-item">
                <a class="nav-link {{{instances_ACTIVE}}}" href="instances.html">
                  <span data-feather="server"></span>
                  Instances
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{{graph_ACTIVE}}}" href="graph.html">
                  <span data-feather="share-2"></span>
                  Graph
                </a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Universes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{{stats_ACTIVE}}}" href="stats.html">
                  <span data-feather="bar-chart-2"></span>
                  Statistics
                </a>
              </li>-->
              <li class="nav-item">
                <a class="nav-link {{{nodes_ACTIVE}}}" href="nodes.html">
                  <span data-feather="layers"></span>
                  Dataflow
                </a>
              </li>
            </ul>
          </div>
        </nav>
