        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1>Dataflow</h1>

            <!-- Error message -->
            <div id="error-msg" class="alert alert-danger alert-dismissible fade" role="alert">
              <strong>Error</strong> Message.
            </div>
          </div>

          <h3>Vertices</h3>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <table id="node-table">
              <thead>
                <tr>
                  <th data-field="0" data-sortable="true" data-formatter="nodeFormatter">ID</th>
                  <th data-field="1" data-sortable="true">Name</th>
                  <th data-field="2" data-sortable="true">Description</th>
                </tr>
              </thead>
            </table>
          </div>

          <h3>Domains</h3>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <table id="domain-table">
              <thead>
                <tr>
                  <th data-field="0" data-sortable="true" data-formatter="domainFormatter">ID</th>
                  <th data-field="1" data-sortable="true"># nodes</th>
                </tr>
              </thead>
            </table>
          </div>
        </main>
