    <script>
      $("#domain-table").bootstrapTable();
      $("#node-table").bootstrapTable();

      // https://stackoverflow.com/a/21903119
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : sParameterName[1];
              }
          }
      };

      function getDomains(domains) {
        var stats_url = "http://" + controller_addr + "/get_statistics";
        $.ajax({
          url: stats_url,
          dataType: "json",
          success: function(data) {
            $("#error-msg").removeClass("show");
            var domains = [];
            $.each(data["domains"], function (idx, ds) {
              domains.push([idx, Object.keys(ds[1]).length, ds[0]["total_forward_time"], ds[0]["total_replay_time"], ds[0]["wait_time"]]);
            });
            $("#domain-table").bootstrapTable('load', domains);
          },
          error: function(e) {
            $("#error-msg").html("AJAX request to controller API failed: " + e.statusText).addClass("show");
          }
        });
      }

      function update() {
        var inst = getUrlParameter("i");
        var resturl = "http://" + controller_addr + "/nodes";

        if (inst != undefined) {
          resturl = "http://" + controller_addr + "/nodes?w=" + inst;
        }

        $.ajax({
          url: resturl,
          dataType: "json",
          success: function(data) {
            $("#error-msg").removeClass("show");
            $("#node-table").bootstrapTable('load', data);
            feather.replace()
          },
          error: function(e) {
            $("#error-msg").html("AJAX request to controller API failed: " + e.statusText).addClass("show");
          }
        });

        if (inst === undefined) {
          getDomains();
        }
      }

      update();
      setInterval(update, 1000);
    </script>
