[package]
name = "readyset-client-metrics"
version = "0.1.0"
publish = false
authors = ["ReadySet Technology, Inc. <info@readyset.io>"]
edition = "2021"

[dependencies]
clap = { workspace = true, features = ["derive","env"] }
metrics = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

#local dependencies
readyset-client = { path = "../readyset-client" }
readyset-errors = { path = "../readyset-errors" }
nom-sql = { path = "../nom-sql" }

[lib]
path = "src/lib.rs"

