[package]
name = "readyset-mysql"
version = "0.4.0"
publish = false
authors = ["ReadySet Technology, Inc. <info@readyset.io>"]
edition = "2021"

[dependencies]
async-trait = { workspace = true }
fail = { workspace = true }
metrics = { workspace = true }
mysql-srv = { path = "../mysql-srv" }
mysql_async = { workspace = true }
lazy_static = { workspace = true }
streaming-iterator = { workspace = true }
futures-util = { workspace = true }
pin-project = { workspace = true }
bincode = { workspace = true }

readyset-client = { path = "../readyset-client" }
readyset-errors = { path = "../readyset-errors" }
readyset-data = { path = "../readyset-data" }
readyset-adapter = { path = "../readyset-adapter" }
readyset-adapter-types = { path = "../readyset-adapter-types" }
readyset-client-metrics = { path = "../readyset-client-metrics" }
tokio = { workspace = true, features = ["full"] }
tracing = { workspace = true, features = ["release_max_level_debug"] }
thiserror = { workspace = true }
mysql_common = { workspace = true }
itertools = { workspace = true }
readyset-sql = { path = "../readyset-sql" }
readyset-util = { path = "../readyset-util" }

[dev-dependencies]
readyset-client-test-helpers = { path = "../readyset-client-test-helpers", features = [
    "mysql",
] }
readyset-client-metrics = { path = "../readyset-client-metrics" }
readyset-telemetry-reporter = { path = "../readyset-telemetry-reporter", features = [
    "test-util",
] }
readyset-server = { path = "../readyset-server" }
serial_test = { workspace = true }
test-utils = { path = "../test-utils" }
chrono = { workspace = true }
futures = { workspace = true }
mysql = { workspace = true }
paste = { workspace = true }
proptest = { workspace = true }
proptest-stateful = { path = "../proptest-stateful" }
test-strategy = { workspace = true }
readyset-tracing = { path = "../readyset-tracing" }
reqwest = { workspace = true }
regex = { workspace = true }

[features]
vertical_tests = []
# Redact the display of strings marked sensitive from logs and error messages
redact_sensitive = ["readyset-util/redact_sensitive"]
failure_injection = [
    "fail/failpoints",
    "readyset-server/failure_injection",
    "readyset-util/failure_injection",
]
ryw = []
