[package]
name = "failpoint-macros"
version = "0.1.0"
publish = false
authors = ["ReadySet Technology, Inc. <info@readyset.io>"]
edition = "2021"

[dependencies]
failpoint-proc-macros = { path = "./proc-macros" }
