[Unit]
After=network.target
Description=ReadySet Server
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/readyset-server -a 0.0.0.0 --use-aws-external-address --prometheus-metrics --authority consul --log-format json --memory-check-every 15 --forbid-full-materialization
StateDirectory=readyset-server
WorkingDirectory=/var/lib/readyset-server
EnvironmentFile=/etc/default/readyset-server
Restart=on-failure
RestartSec=1
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
