[Unit]
After=network.target
Description=Noria Debezium Connector

[Service]
ExecStart=/bin/debezium_connector
EnvironmentFile=/etc/default/debezium-connector
Environment=RUST_LOG=info
Restart=on-failure

[Install]
WantedBy=multi-user.target
