[Unit]
After=network.target
Description=ReadySet PostgreSQL Adapter

[Service]
ExecStart=/usr/sbin/readyset-psql-adapter --no-require-authentication --address 0.0.0.0:3306 --prometheus-metrics
EnvironmentFile=/etc/default/readyset-psql-adapter
Restart=on-failure

[Install]
WantedBy=multi-user.target
