[package]
name = "readyset-dataflow"
version = "0.7.0"
publish = false
authors = ["ReadySet Technology, Inc. <info@readyset.io>"]
edition = "2021"

description = "ReadySet dataflow crate"

[dependencies]
anyhow = { workspace = true }
async-bincode = { workspace = true }
backoff = { workspace = true, features = ["tokio"] }
bincode = { workspace = true }
bufstream = { workspace = true }
byteorder = { workspace = true }
hashbag = { workspace = true }
ahash = { workspace = true }
futures-util = { workspace = true }
lazy_static = { workspace = true }
itertools = { workspace = true }
metrics = { workspace = true }
nom-sql = { path = "../nom-sql" }
pin-project = { workspace = true }
indexmap = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
serde_derive = { workspace = true }
serde_with = { workspace = true }
serde_json = { workspace = true }
socket2 = { workspace = true }
tracing = { workspace = true, features = ["release_max_level_debug"] }
tokio = { workspace = true, features = ["full"] }
tokio-stream = { workspace = true, features = ["net"] }
vec_map = { workspace = true, features = ["eders"] }
tempfile = { workspace = true }
derive_more = { workspace = true }
tuple = { workspace = true }
vec1 = { workspace = true }
criterion = { workspace = true, features=['real_blackbox', 'async_tokio'], optional = true }
test-strategy = { workspace = true }
thiserror = { workspace = true }
proptest = { workspace = true }
fail = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
clap = { workspace = true, features = ["derive"] }

# need features
petgraph = { workspace = true, features = ["serde-1"] }
serde = { workspace = true, features = ["rc"] }
timekeeper = { workspace = true }

# local deps
common = { path = "../readyset-common", package = "readyset-common" }
readyset-client = { path = "../readyset-client" }
merging-interval-tree = { path = "../merging-interval-tree" }
readyset-alloc = { path = "../readyset-alloc" }
readyset-util = { path = "../readyset-util" }
readyset-errors = { path = "../readyset-errors" }
readyset-data = { path = "../readyset-data" }
reader-map = { path = "../reader-map" }
partial-map = { path = "../partial-map" }
failpoint-macros = { path = "../failpoint-macros" }
dataflow-state = { path = "../dataflow-state" }
dataflow-expression = { path = "../dataflow-expression" }
replication-offset = { path = "../replication-offset" }

[features]
bench = ["criterion"]
failure_injection = ["fail/failpoints", "readyset-client/failure_injection"]
