[term]
verbose = true

[alias]
lint = "clippy --all-targets"

[build]
rustflags = ["-C", "link-args=-llz4", "-C", "force-frame-pointers=yes"]

[target.'cfg(feature = "cargo-clippy")']
rustflags = [
  "-Dclippy::dbg_macro"
]
