[package]
name = "test-utils-proc-macros"
version = "0.0.0"
publish = false
authors = ["Readyset Technology, Inc. <info@readyset.io>"]
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true, features = [
    "full",
    "parsing",
    "printing",
    "proc-macro",
    "extra-traits",
    "clone-impls",
] }

[dev-dependencies]
test-utils = { path = ".." }
test-strategy = { workspace = true }
proptest = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }

[lints]
workspace = true
