[gerrit]
        basePath = git
        canonicalWebUrl = https://gerrit.readyset.name
        serverId = 9a419772-58c7-4a76-bb0b-5cfa7836f5ba
[core]
        packedGitLimit = 100m
[container]
        javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
        javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
        user = gerrit
        javaHome = /usr/lib/jvm/java-14-openjdk-amd64
[index]
        type = lucene
[auth]
        gitBasicAuthPolicy = HTTP
        type = OAUTH
[receive]
        enableSignedPush = false
[sendemail]
        enable = true
        smtpServer = smtp.gmail.com
        smtpServerPort = 587
        smtpEncryption = TLS
        smtpUser = gerrit@readyset.io
[sshd]
        listenAddress = *:29418
        advertisedAddress = gerrit:29418
        maxAuthTries = 12
[httpd]
        listenUrl = proxy-https://*:8081/
[cache]
        directory = cache
[plugins]
        allowRemoteAdmin = true
[plugin "gerrit-oauth-provider-google-oauth"]
        client-id = 822644741272-89sh8ko0jn4bbkeh4ipjb782sa4o66mg.apps.googleusercontent.com
        fix-legacy-user-id = false
[change]
        enableAttentionSet = true
        enableAssignee = false
        mergeabilityComputationBehavior = API_REF_UPDATED_AND_CHANGE_REINDEX
[commentlink "jira"]
        match = (ENG-[0-9]+)
        link = https://readysettech.atlassian.net/browse/$1
[commentlink "changeid"]
        match = (I[0-9a-f]{8,40})
        link = "#/q/$1"
[commentlink "commit"]
        match = ([0-9a-f]{7,40})
        link = https://gerrit.readyset.name/q/commit:$1
