[package]
name = "system-benchmarks"
version = "0.1.0"
edition = "2021"
authors = ["ReadySet Technology, Inc. <info@readyset.io>"]
publish = false

[dependencies]
anyhow = { workspace = true }
itertools = { workspace = true }
tokio = { workspace = true, features = ["full"] }
reqwest = { workspace = true, features = [ "blocking" ] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
tokio-postgres = { workspace = true, features = ["with-chrono-0_4", "with-eui48-1", "with-uuid-0_8", "with-serde_json-1", "with-bit-vec-0_6"] }
database-utils = { path = "../database-utils" }
readyset-data = { path = "../readyset-data" }
clap = { workspace = true, features = ["derive"] }

[dev-dependencies]
benchmarks = { path = "../benchmarks" }
nom-sql = { path = "../nom-sql" }

readyset-client = { path = "../readyset-client" }
readyset-mysql = { path = "../readyset-mysql" }
readyset-psql = { path = "../readyset-psql" }
readyset = { path = "../readyset" }

criterion = { workspace = true, features = ["async_tokio"] }
fork = { workspace = true }
futures = { workspace = true }
num_cpus = { workspace = true }
parking_lot = { workspace = true }
temp-dir = { workspace = true }
tikv-jemallocator = { workspace = true }

regex = { workspace = true }

bincode = { workspace = true }

nperf-core = { workspace = true }
structopt = { workspace = true }
libc = { workspace = true }

[[bin]]
name = "regressions"
test = false
bench = false

[[bench]]
name = "workload"
harness = false
