[package]
name = "system-benchmarks"
version = "0.1.0"
edition = "2021"
authors = ["Readyset Technology, Inc. <info@readyset.io>"]
publish = false

[dependencies]
anyhow = { workspace = true }
itertools = { workspace = true }
tokio = { workspace = true, features = ["full"] }
reqwest = { workspace = true, features = ["blocking"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
database-utils = { path = "../database-utils" }
readyset-data = { path = "../readyset-data" }
clap = { workspace = true, features = ["derive"] }

[dev-dependencies]
benchmarks = { path = "../benchmarks" }

readyset-client = { path = "../readyset-client" }
readyset-mysql = { path = "../readyset-mysql" }
readyset-psql = { path = "../readyset-psql" }
readyset-server = { path = "../readyset-server" }
readyset-sql = { path = "../readyset-sql" }
readyset-tracing = { path = "../readyset-tracing" }
readyset-util = { path = "../readyset-util" }
readyset = { path = "../readyset" }

criterion = { workspace = true, features = ["async_tokio"] }
fork = { workspace = true }
futures = { workspace = true }
num_cpus = { workspace = true }
parking_lot = { workspace = true }
temp-dir = { workspace = true }
tikv-jemallocator = { workspace = true }
regex = { workspace = true }
bincode = { workspace = true }
libc = { workspace = true }
pprof = { workspace = true, features = ["flamegraph", "criterion"] }
prometheus-parse = { workspace = true }

[[bin]]
name = "regressions"
test = false
bench = false

[[bench]]
name = "workload"
harness = false

[lints]
workspace = true
