[package]
name = "readyset-mir"
version = "0.7.0"
publish = false
authors = ["Readyset Technology, Inc. <info@readyset.io>"]
edition = "2021"
description = "Readyset MIR crate"

[dependencies]
regex = { workspace = true }
lazy_static = { workspace = true }
petgraph = { workspace = true, features = ["serde-1"] }
itertools = { workspace = true }
tracing = { workspace = true, features = ["release_max_level_debug"] }
serde = { workspace = true, features = ["rc", "derive"] }
strum = { workspace = true }
vec1 = { workspace = true }
fixedbitset = { workspace = true }
derive_more = { workspace = true }

# local deps
common = { path = "../readyset-common", package = "readyset-common" }
dataflow = { path = "../readyset-dataflow", package = "readyset-dataflow" }
dataflow-expression = { path = "../dataflow-expression" }
readyset-client = { path = "../readyset-client" }
readyset-errors = { path = "../readyset-errors" }
readyset-sql = { path = "../readyset-sql" }

[dev-dependencies]
readyset-sql-parsing = { path = "../readyset-sql-parsing" }
readyset-tracing = { path = "../readyset-tracing" }

[lints]
workspace = true
